.options {
    display: flex;
    justify-content: space-between;
    padding-bottom: 60px;

    .search{
        display: flex;
        border-bottom: solid 3px;
        border-color:grey;
        
        .icon{
            
            padding-left: 8px;
            width: 20.01px;
            padding: 12px;
        }
        input{
            width: 336px;  
            border: none;
            border-radius: 0px;
            padding: 16px;           
        }
    }

    .dropdown{
        button{
            width: 288px;
            display: flex;
            justify-content: space-between; 
            padding-top: 20px;
            padding-bottom: 16px;
            margin-left: 40px;
            margin-right: 40px;
            border: none;
            border-radius: 0px; 
            padding-left: 16px;
            svg{
                margin-top: 5px;
            }
        }
    }

    .info{
        display: flex;
        justify-content: space-between;
        border-radius: 80px;
        margin: auto;
        a{
            text-decoration: none;
        }

        .pending{
            width: 111px;
            border-radius: 80px;
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;
            text-align: center;
            padding:6px ;
        }

        .processed{
            @extend .pending;
            border-top-right-radius: 0px;
            border-bottom-right-radius: 0px;
            border-top-left-radius:80px;
            border-bottom-left-radius: 80px;
        }
    }
}