
$white:#ffffff;
$sky-blue: #08A0F7;          // #08A0F7
$ocean-blue: #1778B0;        // #1778B0
$calm-purple: #7784EE;       // #7784EE
$light-gray-blue: #C4CAD3;   // #C4CAD3
$medium-gray: #C9C9C9;       // #C9C9C9
$light-gray:#41475E;
$light-sky-blue: #F0F5FC;    // #F0F5FC
$deep-black: #121212;         // #121212
$emerald-green: #46BD84;     // #46BD84
$forest-green: #33AC72;      // #33AC72
$golden-yellow: #FBA63C;     // #FBA63C
$violet-purple: #9D1CB2;     // #9D1CB2
$magenta-pink: #D459E8;      // #D459E8
$teal-green: #34A770;        // #34A770
$coral-red: #F85640;         // #F85640
$light-periwinkle: #D2D7FF;  // #D2D7FF
$light-pink: #FFF8F8;        // #FFF8F8
$peach-cream: #FFF8EF;       // #FFF8EF
$amber-orange: #E18109;      // #E18109
$burnt-orange: #BC741A;      // #BC741A
$light-teal: #DCF3EB;        // #DCF3EB
$forest-green-dark: #10673E; // #10673E
$deep-green: #13854E; 
$special-green:  #34A770;     // #13854E
$steel-blue: #3387B7;        // #3387B7
$light-sky-blue-b2: #E1F2FC;    // #E1F2FC
$light-sky-b3:#F4F7FC;
$light-sky-b4:#F0F5FC;
$green-5:#5DC983;



