
//font-weight

$small:400;
$medium:500;
$big:600;


//sizes

$size-1:11px;
$size-2:12px;
$size-3:13px;
$size-4:14px;
$size-5:15px;
$size-6:18px;
$size-7:32px;

$size-16:16px;

//line-height

$line-height-1:12px;
$line-height-2:17px;
$line-height-3:18px;
$line-height-4:20px;
$line-height-5:21px;
$line-height-6:22px;
$line-height-7:23px;
$line-height-8:24px;
$line-height-9:27px;
$line-height-10:32px;

$linie-height-25:25px;
//letter-spacing 

$s_3:0.3px;
$s_5:0.5px;