// Clors

$dark-green1:rgba(0, 117, 33, 1);
$dark-green2:rgba(85, 200, 117, 1);
$dark-green3:rgba(68, 222, 111, 0.94);

$light-green1:rgba(0, 201, 56, 1);
$light-green2:rgba(137, 242, 166, 0.66);

$dark-gray1:rgba(48, 48, 48, 1);
$dark-gray2:rgba(85, 85, 85, 1);

$light-gray1:rgba(105, 105, 105, 1);
$light-gray2:rgba(137, 137, 137, 0.43);
$light-gray3:rgba(99, 99, 99, 1);
$light-gray4:rgba(124, 124, 124, 1);
$light-gray5:rgba(217, 217, 217, 0.58);
$light-gray6:rgba(238, 238, 238, 1);

$black:rgba(0, 0, 0, 1);

$dark-yellow:rgba(255, 180, 34, 1);
$light-yellow:rgba(242, 225, 137, 0.66);

$dark-blue:rgba(38, 129, 237, 1);
$light-blue:rgba(127, 209, 255, 0.66);

// fonts-weights

$heavy:600;
$medium:500;
$light:400;

//fonts-size
$very-large:24px;
$large:20px;
$big:18px;
$small:15px;




